* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}
.v0_3 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v2_0 {
    width: 665px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 57px;
    left: 70px;
    font-family: Source Sans Pro;
    font-weight: lighter;
    font-size: 144px;
    opacity: 1;
    text-align: left;
}
.v3_0 {
    width: 548px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 599px;
    left: 70px;
    font-family: Open Sans;
    font-weight: normal;
    font-size: 23px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v3_4 {
    width: 197px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 135px;
    left: 720px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v3_5 {
    width: 251px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 135px;
    left: 378px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v3_8 {
    width: 193px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 987px;
    left: 204px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
